.container-fluid .row
{
	background-color:#128c7e;
	height: 10vh;
	color:White;
}
.fa-stack{
	float: right;
}

.container {
	background-color: #ece5dd;
	width:100vw;
	
}

.text{
	text-align: left;
}
	.text-muted
{
	text-align:right;
}
.text1 h6{
    color:#25d366;
}


.scrollbar{
	height:80vh;
	overflow-y: scroll;
}








/*.chip {
    display: inline-block;
    padding: 0 25px;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
    border-radius: 25px;
    background-color: white;
    width:100vw;
}

.chip img {
    float: left;
    margin: 0 10px 0 -25px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
} */